<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="inc/layout">
<head>
  <title>Ajanda</title>
</head>
<body>

<th:block layout:fragment="content">

  <div class="row">

    <div class="card mt-4 ms-2">

      <div class="card-header">
        <span class="fas fa-book-open"></span>
        Notlar
      </div>

      <div class="card-body">

        <div class="row">

          <div class="col-md-8">
            <button type="button" class="btn default-button mb-3" data-bs-toggle="modal" data-bs-target="#addNoteModal">
              <span class="fas fa-plus"></span>
              Yeni Not Ekle
            </button>

          </div>

          <div class="col-md-4">
            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
              <div class="row">

                <div class="col-auto">
                  <input type="search" class="form-control form-control-dark" placeholder="Not Ara" aria-label="Search">
                </div>

                <div class="col-auto">
                  <button type="submit" class="btn default-button "><span class="fas fa-search"></span></button>
                </div>
              </div>
            </form>
          </div>


        </div>

        <div class="row">

          <table class="table">
            <thead>
            <tr>
              <th scope="col">Başlık</th>
              <th scope="col">Tarih</th>
              <th scope="col">Saat</th>
              <th scope="col">Detay</th>
            </tr>
            </thead>
            <tbody id="tBodyNotes">

            </tbody>
          </table>

        </div>

      </div>

    </div>

  </div>

  <div class="modal" id="addNoteModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalToggleLabel">
            <span class="fas fa-plus"></span>
            Yeni Not Ekle
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <form class="row g-3" id="note_add_form">

            <div class="col-md-6">
              <div class="row mt-3 me-auto ms-auto">
                <label for="n_title" class="form-label">Başlık</label>
                <input type="text" class="form-control" id="n_title" placeholder="Başlık Giriniz">
              </div>

              <div class="row mt-3 me-auto ms-auto">
                <label for="n_note" class="form-label">Detay</label>
                <textarea type="text" class="form-control" id="n_note" placeholder="Detay Giriniz" rows="3"></textarea>
              </div>
            </div>

            <div class="col-md-6">

              <div class="row mt-3 me-auto ms-auto">
                <label for="n_date" class="form-label">Tarih</label>
                <input type="date" class="form-control" id="n_date">
              </div>

              <div class="row mt-3 me-auto ms-auto">
                <label for="n_time" class="form-label">Saat</label>
                <input type="time" class="form-control" id="n_time">
              </div>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn red-button" data-bs-dismiss="modal">Kapat</button>
              <button type="submit" class="btn default-button">Kaydet</button>
            </div>
          </form>

        </div>

      </div>
    </div>
  </div>

  <div class="modal" id="noteDetailModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content" id="noteDetailModalContent">

        <div class="modal-footer">
          <button type="button" class="btn default-button" data-bs-dismiss="modal">Kapat</button>
        </div>
      </div>
    </div>
  </div>

</th:block>

</body>
</html>