<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Giriş</title>
  <link rel="stylesheet" th:href="@{/dist/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/dist/css/bootstrap-select.min.css}">
  <link rel="stylesheet" th:href="@{/dist/css/fontawesome-free-5.15.4-web/css/all.min.css}">
  <link rel="stylesheet" th:href="@{/css/site.css}">
</head>
<body>

  <div class="row" style="margin-top: 150px">
    <div class="col-md-4"></div>
    <div class="col-md-4">

      <div class="card">
        <div class="card-header">
          <span class="fas fa-sign-in-alt"></span>
          Giriş Yap
        </div>

        <div class="card-body">

          <form class="row g-3" th:action="@{/login}" method="post">

            <div class="row mt-3 me-auto ms-auto">
              <label for="username" class="form-label">Kullanıcı Adı</label>
              <input type="email" class="form-control" name="username" id="username" placeholder="E-Posta Adresinizi Girin">
            </div>

            <div class="row mt-3 me-auto ms-auto">
              <label for="password" class="form-label">Şifre</label>
              <input type="password" class="form-control" name="password" id="password" placeholder="Şifrenizi Girin">
            </div>


            <div class="row mt-3 me-auto ms-auto redDiv" th:if="${param.error}">
              Kullanıcı adi veya sifre hatali!
            </div>

            <div class="row mt-5 me-auto ms-auto">
              <button type="submit" class="btn default-button">Giriş</button>
            </div>
          </form>


        </div>
      </div>

    </div>
    <div class="col-md-4"></div>
  </div>

  <script th:src="@{/dist/js/jquery-3.6.0.min.js}"></script>
  <script th:src="@{/dist/js/popper.min.js}"></script>
  <script th:src="@{/dist/js/bootstrap.min.js}"></script>
  <script th:src="@{/dist/js/bootstrap-select.min.js}"></script>
  <script th:src="@{/dist/css/fontawesome-free-5.15.4-web/js/all.min.js}"></script>
  <script th:src="@{/js/site.js}"></script>

</body>
</html>