<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="inc/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<th:block layout:fragment="content">

  <div class="row">

    <div class="col-md-3"></div>
    <div class="col-md-6">

      <div class="card mt-4 ms-2">

        <div class="card-header">
          <span class="fas fa-cog"></span>
          Şifre Değiştir
        </div>

        <div class="card-body">

          <form class="row g-3">

            <div class="row mt-3 me-auto ms-auto">
              <label for="old_password" class="form-label">Eski Şifreniz</label>
              <input type="password" class="form-control" id="old_password">
            </div>

            <div class="row mt-3 me-auto ms-auto">
              <label for="new_password" class="form-label">Yeni Şifreniz</label>
              <input type="password" class="form-control" id="new_password">
            </div>

            <div class="row mt-3 me-auto ms-auto">
              <label for="new_password_check" class="form-label">Yeni Şifreniz (Tekrar)</label>
              <input type="password" class="form-control" id="new_password_check">
            </div>

            <div class="modal-footer">
              <button type="submit" class="btn default-button">Kaydet</button>
            </div>
          </form>


        </div>

      </div>

    </div>

  </div>

</th:block>

</body>
</html>