<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="inc/layout">
<head>
    <title>Ürün Kategorileri</title>
</head>
<body>

<th:block layout:fragment="content">

    <div class="row">

        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="row">

                <div class="card mt-4 ms-2">

                    <div class="card-header">
                        <span class="fas fa-syringe"></span>
                        Ürün Kategorileri
                    </div>

                    <div class="card-body">

                        <div class="row">

                            <div class="col-md-8">
                                <button type="button" class="btn default-button mb-3" data-bs-toggle="modal" data-bs-target="#addProdCategoryModal">
                                    <span class="fas fa-plus"></span>
                                    Yeni Kategori Ekle
                                </button>

                            </div>

                        </div>

                        <div class="row">

                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">Kategori</th>
                                    <th scope="col">Toplam Ürün Sayısı</th>
                                    <th scope="col">Detay</th>
                                    <th scope="col">Sil</th>
                                </tr>
                                </thead>
                                <tbody id="tBodyCategories">

                                </tbody>
                            </table>

                        </div>

                    </div>

                </div>

            </div>
        </div>
        <div class="col-md-3"></div>

    </div>

    <div class="modal" id="addProdCategoryModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalToggleLabel">
                        <span class="fas fa-plus"></span>
                        Yeni Kategori Ekle
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <form class="row g-3" id="category_add_form">

                        <div class="row mt-3 me-auto ms-auto">
                            <label for="cat_name" class="form-label">Kategori Adı</label>
                            <input type="text" class="form-control" id="cat_name" placeholder="Kategori Adını Yazınız">
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn red-button" data-bs-dismiss="modal">Kapat</button>
                            <button type="submit" class="btn default-button">Kaydet</button>
                        </div>
                    </form>

                </div>

            </div>
        </div>
    </div>

    <div class="modal" id="productCategoryDetailModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" id="productCategoryDetailModalContent">

                <div class="modal-footer">
                    <button type="button" class="btn default-button" data-bs-dismiss="modal">Kapat</button>
                </div>
            </div>
        </div>
    </div>

</th:block>

</body>
</html>